@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gobold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gobold Regular'),
        url('../fonts/Gobold Regular.woff2') format('woff2'),
        url('../fonts/Gobold Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Gobold Bold'),
        url('../fonts/Gobold Bold.woff2') format('woff2'),
        url('../fonts/Gobold Bold.woff') format('woff');
    font-display: swap;
}

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --border-color: #2e2e2e;
    --inter-font: "Inter", sans-serif;
    --gobold-regular: 'Gobold Regular', sans-serif;
    --gobold-bold: 'Gobold Bold', sans-serif;
}

html,
body {
    background: var(--white-color);
    cursor: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    cursor: none;
    display: inline-block;
}

label,
input,
select {
    cursor: none;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.2s ease;
}

.custom-cursor.hovered {
    transform: scale(2);
}

.header {
    padding: 0 100px;
}

.header nav {
    max-width: 1348px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header nav .menu__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.mob__menu-btn {
    display: none;
}

.header nav .menu__list a {
    text-decoration: none;
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--gobold-regular);
    font-weight: 400;
    position: relative;
}

.header nav .menu__list a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: var(--black-color);
    left: 0;
    opacity: 0;
    transition: 0.2s ease;
}

.header nav .menu__list a:hover::after {
    bottom: -5px;
    opacity: 1;
}

.header .logo img {
    width: 150px;
    filter: invert(100);
}

.hero {

    padding: 0 100px;
}

.hero__container {
    /* display: grid; */
    /* grid-template-columns: 1.2fr .8fr; */
    /* gap: 5vw; */
    padding: 60px 0;
    max-width: 1348px;
    width: 100%;
    margin: auto;
}

.hero__image-block {
    column-count: 4;
    /* Bas ye rakho */
    column-gap: 1rem;
    margin-top: 3rem;
}

.hero__image-block img,
.hero__image-block video {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    /* margin-top se niche wale se space do */
    border-radius: 8px;
    /* optional styling */
    break-inside: avoid;
}


.hero__text-block {
    align-content: center;
}

.hero__heading {
    font-size: 55px;
    color: var(--black-color);
    font-family: var(--gobold-bold);
}



.hero__subheading {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--gobold-regular);
    color: var(--black-color);
    margin-top: 2rem;
    line-height: 1.5;
}

.hero__description {
    font-size: 18px;
    font-family: var(--inter-font);
    font-weight: 400;
    color: var(--black-color);
    margin-top: 1rem;
    line-height: 1.5;
}

.footer {
    border-top: 1px solid var(--border-color);
    padding: 0 100px;
}

.footer__container {
    max-width: 1348px;
    width: 100%;
    margin: auto;
    padding-top: 2rem;
}

.footer__address-list {
    list-style: none;
}

.footer__logo img {
    width: 150px;
    filter: invert(100);
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
}

.footer__address-title {
    color: var(--black-color);
    font-family: "Inter", sans-serif;
    list-style: none;
    font-size: 20px;
    margin-bottom: 1rem;
}

.footer__address-link {
    color: var(--black-color);
    font-family: "Inter", sans-serif;
    list-style: none;
    margin-bottom: 1rem;
    font-weight: 400;
    text-decoration: none;
    opacity: .7;
    transition: .2s;
}

.footer__address-link:hover {
    opacity: 1;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.footer__legal-link {
    font-family: var(--inter-font);
    color: var(--black-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    opacity: .7;
}

.footer__legal-link:first-child {
    border-right: 1px solid var(--border-color);
}

.footer__copyright {
    font-family: var(--inter-font);
    color: var(--black-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: .7;
    margin-top: 10px;
}

.footer__email {
    font-family: var(--inter-font);
    color: var(--black-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: .7;
}

.footer__social-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* justify-content: space-between; */
    list-style: none;
    margin-top: 10px;
}

.footer__social-list a {
    text-decoration: none;
    color: var(--black-color);
    opacity: .7;
}

.brands__container {
    max-width: 1348px;
    width: 100%;
    padding: 60px 0;
    margin: auto;
}

.brands__title {
    text-align: center;
    margin-bottom: 2rem;
}

.same-h2 {
    font-family: var(--gobold-bold);
    font-size: 40px;

}

.brands {
    background: #F2D0CB;
    padding: 0 100px;
}

.more_work-btn {
    display: block;
    width: fit-content;
    padding: 15px 25px;
    background: var(--black-color);
    color: #F2D0CB;
    font-family: var(--inter-font);
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    text-decoration: none;
    margin-top: 4rem;
}

/* .brands__logo-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2.5rem;
} */

.brands__logo-list img {
    display: block;
    width: 80%;
    object-fit: contain;
    margin: auto;
}

.brands__logo-list {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.scroll-track {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    flex-wrap: wrap;
    animation: none;
    column-gap: 3rem;
    /* row-gap: 4rem; */
}

.container {
    max-width: 1348px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
}

.creator-section {
    padding: 0 100px;
}

.creator-title {
    color: var(--black-color);
}

.section-subtitle {
    font-family: var(--inter-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: 18px;
    margin-top: 1.5rem;
}

.ease-subtitle {
    text-align: center;
}

.solutions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.solutions-wrapper-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 60px;
}

.solution-box {
    border: 1px solid var(--border-color);
    height: fit-content;
}

.icon-wrapper {
    background: #e2e2e2;
    border: 4px solid var(--white-color);
    box-shadow: 0 0 0 2px var(--border-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    border-radius: 50%;
}

.icon-wrapper svg {
    fill: red;
    width: 1.5rem;
    height: 1.5rem;
}

.solution-icon-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: var(--gobold-regular);
    color: var(--black-color);
    gap: 1rem;
}

.solution-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.solution-description {
    font-size: 16px;
    font-family: var(--inter-font);
    color: var(--black-color);
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.solution-description p {
    padding: 1rem 2rem 2rem 2rem;

}

.solution-deco {
    position: relative;
    width: 1rem;
    height: 1rem;
}

.solution-deco .minus {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--black-color);
}

.solution-deco .plus {
    width: 2px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--black-color);
}

.solution-box.active .solution-description {
    max-height: 500px;
}

.solution-deco .plus {
    display: inline-block;
}

.solution-box.active .solution-deco .plus {
    display: none;
}

.latest-work-wrapper-title {
    color: var(--black-color);
}

.latest-work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.latest-work-grid .work-item__image {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    transform: scale(1.1);
    display: block;
    transition: all .3s ease;
    filter: brightness(70%);
}

.view-btn {
    display: block;
    width: fit-content;
    padding: 15px 25px;
    font-family: var(--inter-font);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    margin: auto;
    background: var(--black-color);
    text-decoration: none;
    margin-bottom: 3rem;
}

.latest-work-wrapper {
    max-width: 1348px;
    width: 100%;
    margin: auto;
    padding: 60px 0;
}

.latest-work-section {
    padding: 0 100px;
}

.latest-work-grid .work-item {
    border-radius: 15px;
    overflow: hidden;
    display: block;
    transition: 0.2s;
    position: relative;
}

.latest-work-grid .work-item:hover .work-item__image {
    transform: scale(1);
}

.work-item__content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
}

.work-item__content .work-item__logo {
    width: 150px;
    filter: grayscale(100) invert(100);
}

.work-item__metrics {
    width: 100%;
    background: #ffffffa2;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
}

.mb-content {
    margin-bottom: 3rem;
}

.work-item__metrics .work-item__metric {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.work-item__metric-label {
    font-size: 12px;
    font-family: var(--gobold-regular);
    font-weight: 400;
    color: var(--black-color);
    text-align: center;
}

.work-item__metric-value {
    font-size: 18px;
    font-family: var(--gobold-bold);
    color: var(--black-color);
    text-align: center;
}

.work-item__title {
    font-size: 25px;
    font-family: var(--gobold-bold);
    color: var(--white-color);
}

.ease-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7vw;
}

.ease-image video,
.ease-image img {
    width: 100%;
}

.ease-image {
    width: 100%;
}

.ease-text {
    width: 100%;
}

.ease-container {
    max-width: 1348px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
}

.ease-section {
    padding: 0 100px;
}

.ease-description {
    font-family: var(--inter-font);
    color: var(--black-color);
    font-weight: 300;
    line-height: 1.5;
    margin-top: 2rem;
}

.ease-content-wrapper.ease-content-wrapper-rev {
    flex-direction: row-reverse;
}

.testimonial-container {
    max-width: 1348px;
    width: 100%;
    margin: auto;
    padding: 60px 0;
}

.testimonial-section {
    padding: 0 100px;
}

.swip-content {
    display: flex;
    align-items: center;
}

.testimonial-swiper {
    width: 100%;
}

.learn_more {
    display: block;
    width: fit-content;
    padding: 15px 25px;
    font-family: var(--inter-font);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    background: var(--black-color);
    text-decoration: none;
    margin-top: 1.5rem;
}

.testimonial-image-wrapper img,
.testimonial-image-wrapper video {
    width: 100%;
}

.testimonial-content {
    align-content: center;
}

.testi-logo img {
    max-width: 150px;
    width: 100%;
    margin-bottom: 1rem;
}

.testimonial-quote {
    font-size: 25px;
    font-family: var(--inter-font);
    font-weight: 500;
    color: var(--black-color);
    line-height: 1.3;
}

.testimonial-client {
    font-family: var(--inter-font);
    font-size: 18px;
    color: var(--black-color);
    font-weight: 500;
    opacity: .7;
    margin-top: 1.5rem;
}

.testimonial-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.swiper-button-prev-t {
    transform: rotate(180deg);
    margin-bottom: 7px;
}

.contact-wrapper {
    max-width: 1348px;
    width: 100%;
    margin: auto;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
}

.contact-section {
    padding: 0 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding: 1.5rem; */
    border: 2px solid var(--white-color);
    border-radius: 5px;
}

.select-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input,
.form-select {
    height: 45px;
    padding: 0 20px;
    font-family: var(--inter-font);
    font-size: 16px;
    border-radius: 8px;
    background: transparent;
    outline: none;
    border: 1px solid var(--border-color);
}

.form-submit-button {
    height: 45px;
    padding: 0 20px;
    font-family: var(--inter-font);
    font-size: 16px;
    border-radius: 8px;
    background: var(--black-color);
    color: var(--white-color);
    outline: none;
    border: none;
}

.select-box label {
    font-family: var(--inter-font);
    font-weight: 400;
    font-size: 16px;
    color: var(--black-color);
}

.contact-heading {
    color: var(--black-color);
}

.contact-description {
    font-family: var(--inter-font);
    font-size: 18px;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.3;
    margin-top: 1.5rem;
}

.contact-author {
    font-size: 22px;
    font-family: var(--inter-font);
    color: #977c30;
    margin-top: 3rem;
}

.contact-role {
    font-family: var(--inter-font);
    font-weight: 400;
    color: var(--black-color);
    opacity: .7;
    margin-top: 10px;
}

@media only screen and (max-width: 1440px) {
    .latest-work-grid .work-item__image {
        height: 28vw;
    }
}

@media only screen and (max-width: 1024px) {

    .header,
    .hero,
    .brands,
    .creator-section,
    .latest-work-section,
    .ease-section,
    .testimonial-section,
    .contact-section,
    .footer {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 950px) {
    .hero__container {
        display: flex;
        flex-direction: column;
    }

    .swip-content {
        flex-direction: column-reverse;
        gap: 1rem;
    }


}

@media only screen and (max-width: 768px) {
    .footer__top {
        display: flex;
        flex-wrap: wrap;
    }

    .work-item__content .work-item__logo {
        width: 100px;
    }

    .work-item__title {
        font-size: 20px;
    }

    .hero__image-block {
        column-count: 2;
    }

    /* .ease-content-wrapper {
        margin-bottom: 3rem;
    } */

    .scroll-track {
        grid-template-columns: repeat(4, 1fr);
    }

    .custom-cursor {
        display: none;
    }

    body {
        cursor: auto;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .ease-content-wrapper,
    .ease-content-wrapper.ease-content-wrapper-rev {
        flex-direction: column;
        gap: 0;
        align-items: start;
    }

    .latest-work-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .latest-work-grid .work-item__image {
        height: 60vw;
    }

    .solutions-wrapper-main {
        grid-template-columns: 1fr;
    }

    .brands__logo-list {
        grid-template-columns: repeat(5, 1fr);
    }

    .hero__heading {
        font-size: 35px;
    }

    .same-h2 {
        font-size: 25px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .footer__social-list {
        justify-content: flex-start;
    }

    .footer__copyright {
        font-size: 12px;
    }

    .testimonial-slide {
        display: flex;
        flex-direction: column-reverse;
    }

    .mob__menu-btn {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        aspect-ratio: 1/1;
        transition: .3s ease;
    }

    .mob__menu-btn span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--black-color);
        transition: 0.3s ease;
    }


    .mob__menu-btn span:first-child {
        top: 12px;
    }

    .mob__menu-btn span:last-child {
        bottom: 12px;
    }


    .mob__menu-btn.active span:first-child {
        transform: rotate(45deg);
        top: 50%;
    }

    .mob__menu-btn.active span:last-child {
        transform: rotate(-45deg);
        top: 50%;
        bottom: auto;
    }

    .mob__menu-btn.active {
        transform: rotate(360deg);
    }

    .menu {
        position: fixed;
        width: 100%;
        height: calc(100% - 71px);
        top: -100%;
        left: 0;
        z-index: 99999;
        transition: .3s;
    }

    .menu.active {
        top: 71px;
    }

    .menu__list {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
        flex-direction: column;
        padding-top: 2rem;
        border-top: 1px solid var(--border-color);
    }

    .header .logo img,
    .footer__logo img {
        width: 115px;
    }

    body.active {
        height: 100%;
        overflow: hidden;
    }

    .solution-header {
        padding: 1.5rem;
    }

    .solution-description p {
        padding: 1rem 1.5rem 2rem 1.5rem;
    }

    .hero__container {
        padding: 60px 0;
    }

    .contact-form {
        gap: 1.5rem;
    }

}

@media only screen and (max-width: 425px) {
    .icon-wrapper {
        width: 45px;
        height: 45px;
    }

    .solution-icon-title {
        font-size: 16px;
    }

    .ease-image img {
        width: 100%;
    }

    .brands__logo-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    /* .hero__container {
        gap: 10vw;
    } */

    .brands__logo-list img {
        width: 80px;
    }

    .scroll-track {
        gap: 1.5rem;
    }

    .contact-form {
        gap: 1rem;
    }

    .scroll-track {
        grid-template-columns: repeat(3, 1fr);
    }

    .work-item__content .work-item__logo {
        width: 60px;
    }

    .testi-logo img {
        width: 90px;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 375px) {
    .work-item__metrics {
        display: none;
    }
}